@model MVCBartender.Models.drinkOrd

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>drinkOrd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.drinkQuant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.drinkQuant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.orderComplete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.orderComplete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.drinkOrdID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
